/* Global */

:root {
    --mdui-color-background: var(--mdui-color-surface-variant) !important;
}

html {
    font-family: 'Arial', 'Helvetica', 'SimHei', 'STHeiti', sans-serif;
    scroll-behavior: smooth;
}
*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
*::-webkit-scrollbar:hover {
    width: 10px;
}
body {
    margin: 0;
}
.app {
    visibility: hidden;
    overflow: hidden;
}
.app.ready {
    visibility: visible;
    overflow: unset;
}
.material-icons {
    vertical-align: bottom;
    user-select: none;
}
* {
    transition: background-color 0.2s;
}
a {
    color: rgb(var(--mdui-color-primary));
    text-decoration: none;
}
.dynamic-background-wrap {
    position: fixed;
    pointer-events: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.page-wrap {
    display: grid;
    grid-template-rows: 34rem var(--mdui-typescale-display-medium-size) 1fr;
    grid-template-columns: 1fr;
}


/* Navigation */

.top-app-bar {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    height: 4rem;
    font-size: 1.5rem;
    background-color: rgb(var(--mdui-color-surface-container), 0.7);
    box-shadow: var(--mdui-elevation-level2);
    backdrop-filter: blur(15px);
    z-index: 100;
}
.top-app-bar > .title { margin-right: auto;margin-left: 0.2em; }
.top-app-bar > span * { vertical-align: bottom; }

.navigation-drawer {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    max-width: 30rem;
    background-color: rgb(var(--mdui-color-surface-container-low));
    border-radius: var(--mdui-shape-corner-large) 0 0 var(--mdui-shape-corner-large);
    overflow-y: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
    transform: translateX(100%);
    transition: transform 0.4s;
    z-index: 120;
}
.navigation-drawer > mdui-button {
    margin: 1rem 0.5rem;
}
.navigation-drawer mdui-list-item {
    margin-top: 0.5em;
}
.navigation-drawer.drawer-opened {
    transform: unset;
}
.overlay {
    position: fixed;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(var(--mdui-color-scrim), 0.6);
    opacity: 1;
    transition: opacity 0.4s;
    z-index: 110;
}
.overlay.hidden {
    opacity: 0;
}

.catalog {
    list-style-type: none;
    padding: 1em 0;
}
.catalog a {
    display: block;
    margin-top: 0.25em;
    margin-right: 1em;
    padding: 0.25em;
    transition: color 0.5s, background-color 0.3s;
}
.catalog a.t1 { font-size: 1.3em; font-weight: bold; }
.catalog a.t2 { font-size: 1.2em; font-weight: bold; }
.catalog a.t2 { font-size: 1.1em; font-weight: bold; }
.catalog a.t3 { font-size: 1em; font-weight: normal; }
.catalog a.t4 { font-size:0.9em; color: rgb(var(--mdui-color-secondary)); }
.catalog a.t5 { font-size:0.9em; font-style: italic; color: rgb(var(--mdui-color-secondary)); }
.catalog a.reading {
    background-color: rgb(var(--mdui-color-tertiary-container));
    color: rgb(var(--mdui-color-tertiary));
    border-radius: var(--mdui-shape-corner-extra-small);
}

.app > mdui-fab[icon="menu_book"] { display: none; }
.author-info { display: none; }
.toc-right { display: none; }
.waves { display: none; }
.navigation-rail { display: none; }
.right-panel { display: none; }



/*Cover*/

.post {
    grid-row: 1/3;
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: rgb(var(--mdui-color-inverse-on-surface));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.post-info {
    width: 90%;
}
.post h1 {
    text-align: center;
    margin: 10px 0;
    font-size: var(--mdui-typescale-display-small-size);
}
.meta-tags{
    text-align: right;
}
.meta-tags span {
    display: inline-block;
    background-color: rgba(var(--mdui-color-surface), 0.4);
    padding: 5px;
    font-weight: bold;
    margin: 1rem 1rem 1rem 0;
}
.meta-tags span::before{
    content: "#";
    font-weight: bold;
    font-size: 1.1em;
    margin-right: 5px;
    opacity: 0.4;
}
.meta-info {
    display: inline-block;
    margin-top: 20px;
}
.meta-info div {
    margin: 0.5em 10px;
}
.meta-tags span, .meta-info {
    background-color: rgba(var(--mdui-color-surface), 0.4);
    backdrop-filter: blur(10px);
    border-radius: var(--mdui-shape-corner-small);
}
.mdui-theme-dark .meta-tags span, .mdui-theme-dark .meta-info {
    background-color: rgba(var(--mdui-color-surface), 0.2);
}


/*Article wrapper*/

.article-wrap {
    grid-row: 2/4;
    grid-column: 1/2;
    padding: 1rem 1rem 5rem 1rem;
    font-size: 1.15rem;
    background-image: linear-gradient(
    to bottom,
    rgba(var(--mdui-color-surface), 1) 0%,
    rgba(var(--mdui-color-surface), 1) 1rem,
    rgba(var(--mdui-color-surface), 0.9) 10rem,
    rgba(var(--mdui-color-surface), 0.9) 100%
    );
    word-break: break-all;
    border-top-left-radius: var(--mdui-shape-corner-large);
    border-top-right-radius: var(--mdui-shape-corner-large);
    z-index: 1;
}
.mdui-theme-dark .article-wrap {
    background-image: linear-gradient(
    to bottom,
    rgba(var(--mdui-color-surface), 1) 0%,
    rgba(var(--mdui-color-surface), 1) 1rem,
    rgba(var(--mdui-color-surface), 0.7) 10rem,
    rgba(var(--mdui-color-surface), 0.7) 100%
    );
}
.article-wrap a {
    border-bottom: 3px dotted rgb(var(--mdui-color-primary));
}
.article-wrap img {
    display: block;
    width: 80%;
    border-radius: var(--mdui-shape-corner-small);
    margin: 1em 0;
    cursor: pointer;
}
blockquote {
    border-left: 0.3rem solid #d1d1d1;
    color: #989898;
    margin-left: 0;
    margin-right: 0;
    padding: 0.5rem 1.5rem;
}
.mdui-theme-dark blockquote {
    border-left: 0.3rem solid #686767;
}
blockquote *:first-child {
    margin-top: 0;
}
blockquote *:last-child {
    margin-bottom: 0;
}

.fancybox__caption {
    color: rgb(var(--mdui-color-on-surface)) !important;
    font-size: 1.15rem !important;
}
.fancybox__backdrop {
    background-color: rgb(var(--mdui-color-surface-container), 0.9) !important;
}
.f-button, .fancybox__footer {
    background-color: rgb(var(--mdui-color-primary), 0.7) !important;
}
.f-button[data-panzoom-action] {
    border-bottom-left-radius: var(--mdui-shape-corner-small);
}

.ready .post-info > *, .ready .article-wrap > * {
	animation-name: fadeIn;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: backwards;
}
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate(0, 10px);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}
.post-info >:nth-child(1) { animation-delay: calc(1 * var(--mdui-motion-duration-short2)); } 
.post-info >:nth-child(2) { animation-delay: calc(2 * var(--mdui-motion-duration-short2)); } 
.post-info >:nth-child(3) { animation-delay: calc(3 * var(--mdui-motion-duration-short2)); } 
.article-wrap >:nth-child(1) { animation-delay: calc(4 * var(--mdui-motion-duration-short2)); } 
.article-wrap >:nth-child(2) { animation-delay: calc(5 * var(--mdui-motion-duration-short2)); } 
.article-wrap >:nth-child(3) { animation-delay: calc(6 * var(--mdui-motion-duration-short2)); } 
.article-wrap >:nth-child(4) { animation-delay: calc(7 * var(--mdui-motion-duration-short2)); } 
.article-wrap >:nth-child(5) { animation-delay: calc(8 * var(--mdui-motion-duration-short2)); }
.article-wrap >:nth-child(n + 5) { animation-delay: calc(9 * var(--mdui-motion-duration-short2)); }


@media screen and (min-width: 45rem) {
    .navigation-rail {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 0;
        bottom: 0;
        left: 0;
        width: 5rem;
        z-index: 100;
        background-color: rgb(var(--mdui-color-surface-container));
        box-shadow: var(--mdui-elevation-level1);
    }
    .navigation-rail > span {
        text-align: center;
    }
    .navigation-rail label {
        font-size: 0.9rem;
    }
    .app > mdui-fab[icon="menu_book"] {
        position: fixed;
        right: 2rem;
        bottom: 2rem;
        background-color: rgb(var(--mdui-color-tertiary-container));
        z-index: 10;
        display: block;
    }
    .page-wrap {
        margin-left: 5rem;
    }
    .post h1 {
        font-size: var(--mdui-typescale-display-medium-size);
    }
    .article-wrap {
        border-top-left-radius: var(--mdui-shape-corner-extra-large);
        border-top-right-radius: var(--mdui-shape-corner-extra-large);
    }
    .top-app-bar { display: none; }
}

@media screen and (min-width: 65rem) {
    .waves {
        width: 100%;
        height: 5rem;
        margin-bottom: -2rem;
        display: block;
    }
    .parallax > use {
        animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
    }
    .parallax > use:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
    }
    .parallax > use:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
    }
    .parallax > use:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
    }
    .parallax > use:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 20s;
    }
    @keyframes move-forever {
        0% {
            transform: translate3d(-90px, 0, 0);
        }
        
        100% {
            transform: translate3d(85px, 0, 0);
        }
    }

    .page-wrap {
        grid-template-rows: 25rem 3rem auto 1fr;
        grid-template-columns: 3rem minmax(auto, 60rem) 2rem 17rem 1fr 2rem;
    }
    .post {
        grid-row: 1/2;
    }
    .post h1 {
        font-size: var(--mdui-typescale-display-large-size);
    }
    .article-wrap {
        grid-row: 3/-1;
        grid-column: 2/3;
        padding: 3rem 3rem 5rem 3rem;;
        background-image: unset;
        background-color: rgba(var(--mdui-color-surface), 0.7);
        border-radius: var(--mdui-shape-corner-extra-large);
        box-shadow: var(--mdui-elevation-level5);
    }
    .mdui-theme-dark .article-wrap {
        background-image: unset;
        background-color: rgba(var(--mdui-color-secondary-container-dark), 0.7);
    }
    .toc-right {
        position: sticky;
        max-height: 90vh;
        overflow-y: auto;
        grid-row: 4/5;
        grid-column: 4/5;
        top: 0.5rem;
        display: block;
        align-self: start;
        background-color: rgb(var(--mdui-color-surface));
        border-radius: var(--mdui-shape-corner-medium);
        padding: 1rem;
        box-shadow: var(--mdui-elevation-level3);
    }
    .ready .toc-right {
        animation-name: fadeIn;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
        animation-fill-mode: backwards;
        animation-delay: calc(4 * var(--mdui-motion-duration-short2));
    }
    .mdui-theme-dark .toc-right {
        background-color: rgb(var(--mdui-color-secondary-container-dark));
    }
    .app > mdui-fab[icon="menu_book"] { display: none; }
}
